<h1>Add Bulk Groups</h1>
<div class="csv-file-chooser-section">   

  <label><b>Create Bulk Groups</b></label>

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />

 <!-- <label>
    Parse Headers?
  </label>
  <select aria-placeholder="Parse headers?" [(ngModel)]="header">
    <option [value]="true">Yes</option>
    <option [value]="false">No</option>
  </select>-->
</div>

<div class="csv-result-table" *ngIf="csvRecords.length > 0">

  <table>
    <thead class="table-container">
      <tr>
        <th>#</th>
        <th>Domain</th>
        <th>SamAccountName</th>
        <th>SID</th>
        <th>DistinguishedName</th>
        <th>ObjectClass</th>
        <th>BBYEdsvatype</th>
        <th>Primary Owner</th>
        <th>Secondary Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords;let i = index;">

        <td>{{i+1}}</td>
        <td>
          <span>{{csvData.Domain}}</span>
        </td>
        <td>
          <span>{{csvData.SamAccountName}}</span>
        </td>
        <td>
          <span>{{csvData.SID}}</span>
        </td>
        <td>
          <span>{{csvData.DistinguishedName}}</span>
        </td>
        <td>
          <span>{{csvData.ObjectClass}}</span>
        </td>
        <td>
          <span>{{csvData.BBYEdsvatype}}</span>
        </td>
        <td>
          <span>{{csvData.PrimaryOwner }}</span>
        </td>
        <td>
          <span>{{csvData.SecondaryOwner}}</span>
        </td>

      </tr>
    </tbody>
  </table>

</div>