
h1 {
    text-align: center;
  }
.csv-file-chooser-section {
    padding: 10px;
    margin: 5%;
    border: 1px solid;
    text-align: center;
  }
  
  .csv-result-table {   
    margin: 5%;
    border: 1px solid #73AD21;
    max-height:300px; 
    overflow-y: auto;
    
  }
  
  table, th, td {  
    border: 1px solid black;
  }
  .table-container  {
    position: sticky;
    top: 0;
    background-color: rgb(200, 187, 187); /* Adjust as needed */
    z-index: 1;
  }


  label {
    margin-right: 30px;
  }

  
